<% content_for :title, "Editing todo" %>

<div class="flex flex-col items-center justify-center min-h-screen bg-gray-50">
  <h1 class="text-3xl font-bold text-green-700 mb-8">Editing Todo</h1>

  <div class="bg-white rounded-lg shadow-md p-8 w-full max-w-lg">
    <%= render "form", todo: @todo %>
    <div class="mt-6 flex gap-4 justify-center">
      <%= link_to "Show this todo", @todo, class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow" %>
      <%= link_to "Back to todos", todos_path, class: "bg-gray-400 hover:bg-gray-500 text-white font-semibold py-2 px-4 rounded shadow" %>
    </div>
  </div>
</div>